.card-app {
  /*  center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

.card {
  min-width: 150px;
  height: 250px;
  background-color: #d9534f;
  margin: 0 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.inactive {
  color: #d9534f;
}

.active {
  background-color: #5cb85c;
}

.active p img {
  display: none;
}

.card p span {
  font-size: 30px;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.center {
  text-align: center;
  margin: 30px 0;
}

/* Generic elements */

img {
  max-width: 150px;
  max-height: 250px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 50px;
  width: auto;
  font-size: 16px;
  margin-left: 10px;
}

span {
  display: block;
}
